{% extends 'base.html' %} {% load i18n %} {% block content %}
<div class="container row">
    <div class="col-6 mt-3 border-end">
        <h2>Abstractive Summarization Method</h2>
        <form method="POST" action="{% url 'abs' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="inputText" class="mt-2">Enter Text:</label>
                {% if input_text %}
                <textarea class="form-control" id="inputText" name="input_text" rows="13" required>
{{input_text}}</textarea>

                {% else %}
                <textarea class="form-control" id="inputText" name="input_text" rows="15" required></textarea>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary mt-3">Summarize</button>
        </form>
    </div>
    <div class="mt-3 col-6">
        <!-- Display the summarized text if available -->
        {% if summarized_text %}

        <h2>Summarized Text:</h2>
        <div class="card p-4 shadow-sm">
            <p>{{ summarized_text }}</p>
        </div>
        <div class="mt-3 text-center">
            <div class="btn btn-secondary">
                Total {{length}} words in Original Text
            </div>
            <div class="btn btn-dark">
                Total {{length_summary}} words in Summarized Text
            </div>
        </div>

        {% else %}
        <h2>Summarized Text:</h2>
        <div class="card p-4 shadow-sm">
            <p>Summarized text will appear here</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}